
.form_container{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-blue);
}
.form_container_title{
    margin-top: 20px;
}
.form_container_form{
    min-width: 350px;
    min-height: 350px;
    display: flex;
    flex-direction: column; 
    border-radius: 10px;  
    background-color: var(--color-grey); 
    box-shadow: 1px 2px 3px 4px;    
}
.form_container_label{
    padding: 25px;
    display: flex;
    flex-direction: column;   
}
.form_container_input{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;    
}
.form_container_btn{
    background-color: var(--color-blue);
    text-decoration: none;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    color: var(--color-yellow);
    cursor: pointer;
}
.form_container_btn:hover{
    background-color: var(--color-blue_ligth);
    box-shadow: 0px 0px 5px;  
}
