@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-style: normal;
    /* font-family: 'Raleway', sans-serif; */
    box-sizing: border-box;
    max-width: 100%;
    

    /* Colors */
    --color-blue: rgba(17, 46, 90, 0.507);
    --color-grey: rgba(29, 66, 64, 0.342);
    --color-black: #333;
    --color-yellow: #fff;
    --color-blue_ligth: rgba(64, 107, 172, 0.507);
}